/* Navigation  */
*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    flex-direction: column;
  
}


/* Home section  */
#home{
    height: 230px;
}
#home h1{
    font-size: 45px;
    padding-top: 75px;
}
#home p{
    font-size: 16px;
}
.services-container h1{
    font-size: 2rem;
    padding-top: 115px;
}


/* Services section  */
#services{
    flex-direction: column;
}


/* Client section  */

#client{
    overflow: hidden;
}

/* Contact section  */